<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<h1><%= data %></h1>
<body style="background-color:red;margin-right:700px;margin-left:200px; height:200px;">

    <h1>welcome to login page!!!</h1> 
      
    <form action="check" method="get">
  
  
    <br> <b>user name:</b> <input type="text" name="uname" value="">
    <br><br><b>pass word:</b> <input type="password" name="pword" value="">
    
    <br><br><b>allready have an account?...</b><input style="margin-left:0;"  type="submit" name="submit" value="login">
  
    </form>
   
  <form action="signup">
  
   <br><br><b>new user?...</b> <input style="margin-left:0;" type="submit" name="submit" value="signup">

  </form>


</body>

</html>